useDynLib(cheddar)
exportPattern("^[^\\.]")

importFrom("grDevices", "chull", "col2rgb", "rgb")
importFrom("graphics", "abline", "axis", "barplot", "lines", "par",
           "plot", "points", "rect", "rug", "segments", "text")
importFrom("stats", "as.formula", "coef", "fitted", "lm", "median",
           "sd", "terms", "weighted.mean")
importFrom("utils", "head", "tail", "write.table")

S3method("dim<-", Community)
S3method("dim<-", CommunityCollection)
S3method("length<-", Community)
S3method("length<-", CommunityCollection)
S3method("levels<-", Community)
S3method("levels<-", CommunityCollection)
S3method("names<-", Community)
S3method("names<-", CommunityCollection)
S3method(plot, Community)
S3method(plot, CommunityCollection)
S3method(print, Community)
S3method(print, CommunityCollection)
S3method(subset, CommunityCollection)
S3method(summary, Community)
S3method(summary, CommunityCollection)
S3method('$<-', Community)
S3method('$<-', CommunityCollection)
S3method('[', CommunityCollection)
S3method('[<-', Community)
S3method('[<-', CommunityCollection)
S3method('[[<-', Community)
S3method('[[<-', CommunityCollection)
