@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
html
{
  background: #6C7989;
  background: #6c7989 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7989), color-stop(100%, #434b55)) fixed;
  background: #6c7989 -webkit-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -moz-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -o-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -ms-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}

body
{
  padding: 20px;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
}

#content
{
  width: 800px;
  margin-left:auto;
  margin-right:auto;
}

header, section, footer
{
  display: block;
}

a
{
  color: #069;
  text-decoration: none;
}

p
{
  margin: 0 0 20px;
  padding: 0;
}

strong
{
  color: #222;
  font-weight: 700;
}

header
{
  background: #C6EAFA;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddfbfc), color-stop(100%, #c6eafa));
  background: -webkit-linear-gradient(#ddfbfc, #c6eafa);
  background: -moz-linear-gradient(#ddfbfc, #c6eafa);
  background: -o-linear-gradient(#ddfbfc, #c6eafa);
  background: -ms-linear-gradient(#ddfbfc, #c6eafa);
  background: linear-gradient(#ddfbfc, #c6eafa);
  position: relative;
  padding: 15px 20px;
  margin: 0 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

header h1
{
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  color: #069;
}

header.without-description h1
{
  margin: 10px 0;
}

header p
{
  margin: 0;
  color: #61778B;
  font-size: 13px;
}

header p.version
{
  position: absolute;
  top: -1px;
  left: 410px;
  display: none;
}

#downloads
{
  position: absolute;
  right: 110px;
  top: 17px;
}

#github
{
  position: absolute;
  right: 20px;
  top: 17px;
}

header ul
{
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  height: 45px;
  padding: 1px 0;
  background: #5198DF;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b9fb), color-stop(100%, #3782cd));
  background: -webkit-linear-gradient(#77b9fb, #3782cd);
  background: -moz-linear-gradient(#77b9fb, #3782cd);
  background: -o-linear-gradient(#77b9fb, #3782cd);
  background: -ms-linear-gradient(#77b9fb, #3782cd);
  background: linear-gradient(#77b9fb, #3782cd);
  border-radius: 5px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  width: auto;
}
header ul:before
{
  content: '';
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -4px;
  right: -5px;
  bottom: -6px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
}
header ul li
{
  width: 65px;
  float: left;
  border-right: 1px solid #3A7CBE;
  height: 46px;
}
header ul li.single
{
  border: none;
}
header ul li + li
{
  border-left: 1px solid #8BBEF3;
}
header ul li + li + li
{
  border-right: none;
  width: 70px;
}
header ul a
{
  line-height: 1;
  font-size: 11px;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: center;
  font-weight: 400;
  padding-top: 6px;
  height: 40px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
}
header ul a strong
{
  font-size: 14px;
  display: block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

section
{
  margin: 20px;
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 700, color-stop(0%, #fafafa), color-stop(100%, #dedede));
  background: -webkit-linear-gradient(#fafafa, #dedede 700px);
  background: -moz-linear-gradient(#fafafa, #dedede 700px);
  background: -o-linear-gradient(#fafafa, #dedede 700px);
  background: -ms-linear-gradient(#fafafa, #dedede 700px);
  background: linear-gradient(#fafafa, #dedede 700px);
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6
{
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

p, ul, ol, table, pre, dl
{
  margin: 0 0 20px;
}

h1, h2, h3
{
  line-height: 1.1;
}

h1
{
  font-size: 28px;
}

h2
{
  color: #393939;
}

h3, h4, h5, h6
{
  color: #494949;
}

blockquote
{
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img
{
  max-width: 100%;
}

code, pre
{
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
  overflow-x: auto;
}

pre
{
  padding: 20px;
  background: #3A3C42;
  color: #f8f8f2;
  margin: 0 -20px 20px;
}

pre code
{
  color: #f8f8f2;
}

li pre
{
  margin-left: -60px;
  padding-left: 60px;
}

table
{
  width: 100%;
  border-collapse: collapse;
}

th, td
{
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

dt
{
  color: #222;
  font-weight: 700;
}

th
{
  color: #222;
}

small
{
  font-size: 11px;
}

hr
{
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}

footer
{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  padding: 20px 0;
  color: #ccc;
  overflow: hidden;
}

footer a
{
  color: #fff;
  font-weight: bold;
}

footer p
{
  float: left;
  margin: 0 30px 0 0;
}

