html
{
  background: #A7BBD4;
  font-family: Verdana,sans-serif;
}

body
{
  margin: 0;
}

#content
{
  width: 768px;
  margin-left:auto;
  margin-right:auto;
}

header, section, footer
{
  display: block;
}

a
{
  text-decoration: none;
  font-weight: bold;
  color: #0066aa;
}

a:hover
{ 
  color: white;
  background-color: #0066aa;
}

.menuhere
{ 
  color: white;
  background-color: #0066aa;
}

img
{
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

p
{
  margin: 0 0 20px;
  padding: 0;
}

strong
{
  color: #222;
  font-weight: 700;
}

pre
{
  font-size: 16px;
  background: black;
  color: white;
  padding: 5px 15px;
  border: 0;
  margin: 10px 10px;
}

header
{
  background: #c6eafa;
  position: relative;
  padding: 10px 20px;
  margin: 5px 0 0 0;
}

header h1
{
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 1.2;
  color: #111111;
}

header p.version
{
  position: absolute;
  top: -1px;
  left: 410px;
  display: none;
}

#downloads
{
  position: absolute;
  right: 105px;
  top: 8px;
}

#github
{
  position: absolute;
  right: 10px;
  top: 8px;
}

header ul
{
  margin: 0;
  padding: 0;
  list-style: none;
  height: 44px;
  padding: 1px 0;
  background: #5198DF;
  width: auto;
}

header ul li
{
  width: 78px;
  float: left;
  height: 46px;
  border-right: solid 1px #c6eafa;
}

header ul a
{
  line-height: 1;
  font-size: 11px;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: 400;
  padding: 9px 0;
  height: 27px;
}

header ul a strong
{
  font-size: 14px;
  display: block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

#menu
{
  min-height: 34px;
  margin: 0;
  padding: 0;
  border: 0;
  background: white;
}

#menu ul
{
  min-height: 34px;
  list-style: none;
  margin: 0;  
  border: 0;  
  padding: 0 0 0 10px;
}

#menu li
{
  float: left;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 20px;
}

#menu a
{
  min-height: 28px;
  float: left;
  margin: 0;
  border: 0;
  padding: 3px 15px;
  font-size: 20px;
}

section
{
  color: #333;
  font-weight: 300;
  margin: 10px 0;
  padding: 15px 20px;
  background: white;
  border-radius: 8px;
}

footer
{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  padding: 20px 0;
  color: #ccc;
  overflow: hidden;
}

footer a
{
  color: #fff;
  font-weight: bold;
}

footer p
{
  float: left;
  margin: 0 30px 0 0;
}

.heading
{
  margin: 5px 0;
}

.separator
{
  border-top-style: solid;
  border-width: 2px;
  border-color: black;
}

.subheading
{
  font-style: italic;
  font-size: small;
  margin: 8px 20px;
}

.notice
{
  font-size: 28px;
  margin: 20px 50px;
  padding: 0 50px;
  border-style: solid none;
  border-width: 2px;
  border-color: black;
  background: #94D4FF;
  text-align: center;
}
